
body{
    margin: 0;
    padding: 0;
    background-color:antiquewhite;
    
}
.icon-area{
    margin-top: 50px;
    margin-bottom:50px;
}
.containaer{
    width: 80%;
    margin: auto;
}
.icon-area ul{
    list-style: none;
}
.icon-area ul li{
    display:  inline;
}
.icon-area ul li a{
    background-color: yellow;
    font-size: 50px;
    padding: 20px 40px;
     display: inline-block;
}
.icon-area ul li a:hover{
    background-color: tomato;
    transition: 2s;
}
h1{
    font-size: 50px;
    display: block;
    color: red;

}